################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetzschLocalApp/bin/Debug/net6.0
/NetzschLocalApp/obj
/NetzschWebApp/bin/Debug/net6.0
/NetzschWebApp/obj
